<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xia.wenqu.mapper.DocChunkMapper">
    <insert id="batchInsert">
        INSERT INTO doc_chunk (document_id, kb_id, seq, content)
        values
        <foreach collection="chunks" item="c" separator=",">
            (#{c.documentId}, #{c.kbId}, #{c.seq}, #{c.content})
        </foreach>
    </insert>

    <delete id="deleteByDocumentId">
        DELETE FROM doc_chunk WHERE document_id = #{documentId}
    </delete>
</mapper>